.container .form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .form-row.top-row {
  margin-top: 16px;
}

.input-errors {
  font-size: 12px;
  position: absolute;
  margin-left: 5px;
  margin-top: 54px;
  color: red;
}

.container .form-row .field {
  box-sizing: border-box;
  border: 1px solid #dee0e1;
  border-radius: 3px;
  height: 51px;
  margin-bottom: 35px;
  padding: 10px;
  width: 100%;
  background-color: beige;
}
