@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-font-family: @apply font-brand;
  --toastify-color-success: #009485;
}
html,
body {
  @apply font-brand;
}
@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold text-gray-600;
  }
}

h1 {
  @apply prose-2xl text-gray-600;
}

.cart-open {
  @apply w-screen h-screen bg-black;
}

.syrrup {
  display: none;
}
