@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-font-family: @apply font-brand;
  --toastify-color-success: #009485;
}
html,
body {
  @apply font-brand;
}
@layer base {
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold text-gray-600;
  }
}

h1 {
  @apply prose-2xl text-gray-600;
}

.cart-open {
  @apply w-screen h-screen bg-black;
}

.syrrup {
  display: none;
}

.grad-text {
  @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600 md:text-5xl text-4xl my-3 py-3 text-center;
}

.menu-title {
  @apply font-extrabold md:text-4xl text-3xl py-3;
}

.order-btn {
  @apply btn bg-brand-red glass text-white hover:bg-brand-redhover shadow-2xl px-8;
}

.receipt-paper {
  @apply max-w-2xl my-4 mx-auto py-8 px-4 bg-white rounded-xl shadow-xl;
}

.dash {
  @apply max-w-2xl w-full mx-auto my-4 px-4;
}

.card-element {
  @apply bg-gray-200 p-4 rounded-xl;
}
